books/books-java/books-web-services/soa-aplicado/soa-aplicado-cap-07-1/src/test/resources/webapp/WEB-INF/schemas/usuarios_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
   xmlns:tns="http://fernando.com.br/core/usuarios/v1" 
   targetNamespace="http://fernando.com.br/core/usuarios/v1">
   
   <annotation>
      <documentation>
   	     Schema canônico para o sistema de usuários, versão 1.0
   	  </documentation>   
   </annotation>
   
    <complexType name="usuario">
    	<sequence>
    		<element name="id" type="long" />
    		<element name="nome" type="string" />
    		<element name="login" type="string" />
    		<element name="senha" type="string" />
    	</sequence>
    </complexType>
   
</schema>